*{
    margin: 0;
    padding: 0;

}
.main_cata {
    margin-top: 40px;
}
.main_cata h1{
    text-align: center;
    color: #F63D3D;
}
.cat_box{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}
.img_holder{
    background-color: #F3ECFC;
    height: 140px;
    width: 200px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.img_holder img{
    margin: auto;
}
.outer_div{
    font-size: 20px;
    text-align: center;
    font-family:"poppins";
    font-weight:5px;
}
.info_1{
    border: 1px solid black;
}
.info_page{
    display: grid;
    grid-template-columns:500px auto;
    justify-content: center;    
    border: 1px solid black;
    gap: 10px;

}


.info_imgs{
    border:1px solid black

}
.red_box{
    
    background-color: #F63D3D;
    height: 350px;
    width: 500px;
   
    

    
}

.img_box img{
    height: 350px;
    width: 500px;
}

